/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Jan-2018, 15:20:14
    Author     : Rob
*/
.trust_pilot img {
    width: 60%;
}


.img-fluid.mb-5.d-block.mx-auto {
    z-index: 20;
    position: relative;
}

.btn.btn-xl.btn-outline-light {
    position: relative;
    z-index: 20;
}
.particles-js-canvas-el {
    position: absolute;
    top: 100px;
    left: 0;
}

.user-count {
    font-size: 40px;
    margin-left: 5px;
}
.user-count-container {
    font-size: 25px;
    text-align: center;
}
.post-single-image-bg {
    height: 300px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.image {
    height: 300px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.btn.btn-xl.btn-outline-light.blog-read-more {
    position: relative;
    left: 25%;
    top: 36%;
}
.overlay {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 84%;
    transition: .5s ease;
}
.blog-single-container:hover .overlay {
    width: 100%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.auth-spacer {
    height: 150px;
    width: 100%;
}
.text-secondary {
    text-align:center;
}

.fa.fa-user.icon-large {
    font-size: 70px;
    margin-right: 20px;
}

.progress span {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.progress {
    height: 70px;
    line-height: 1.5rem;
    position: relative;
}

.progress-bar {
    background-color: #18bc9c !important;
}

.spacer {
    height: 15px;
    width: 100%;
}

.fa.fa-user {
    font-size: 60px;
}